.banner-add{
    border: 5px solid #fff;
    box-shadow: 0 0 14px #90989e;
    margin-bottom: 4px;
}
.course_v_list{
    width: 100%;
    height: 878px;
    background: #e5e5e5;
    padding-bottom: 30px;
}
.course_v_list .c_v_l_t{
    width: 1226px;
    height: 104px;
    margin: 0 auto;
}
.course_v_list .c_v_l_t p{
    width: 122px;
    height: 60px;
    display: block;
    float: right;
    padding-top: 36px;
    font-size: 22px;
    font-family: "Arial", "楷体";
    cursor: pointer;
}
.course_v_list .c_v_l_t span{
    font-size: 22px;
}
.course_v_list .c_v_l_content{
    width: 1226px;
    height: 766px;
    margin: 0 auto;
    border: 5px solid #fff;
    box-shadow: 0 0 14px #90989e;
}


.course_v_list .c_v_l_content .full-length .container1 {
    margin: 0 auto;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.course_v_list .c_v_l_content .full-length {
    width: 1226px;
    height: 762px;
    float: left;
    /*padding-bottom: 80px;*/
    margin: 0 auto;
    /*border: 1px solid #0A8AD2;*/
}
.course_v_list .c_v_l_content .full-length .layui-tab .video-list{
    overflow: scroll;
    height: 689px;
    /*background: #00C1B3;*/
}

/*.course_v_list .c_v_l_content .full-length .container ul {*/
    /*margin: 0 -1.5%;*/
/*}*/

.course_v_list .c_v_l_content .full-length .container1 ul li {
    float: left;
    width: 279px;
    margin: 10px;
    list-style: none;
    box-shadow: 0 0 14px #909891;
    position: relative;
    top: 2px;
}
.course_v_list .c_v_l_content .full-length .container1 ul li:hover{
    box-shadow: 6px 10px 14px #909891;
    top: -5px
}
/*.btn {*/
    /*display: inline-block;*/
    /*padding: 5px 10px;*/
    /*font-size: 14px;*/
    /*color: #fff;*/
    /*border: 2px solid #4d92d9;*/
    /*background-color: #4d92d9;*/
    /*text-decoration: none;*/
    /*transition: 0.4s;*/
/*}*/
.btn {
    position: absolute;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 110px;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -48px;
    background: #ef6a6c;
    background: rgba(229,229,229,0.5);
    font-size: 60px;
    border: 3px solid red;
    box-shadow: 0px 0px 15px #333333;
    border-radius: 50%;
    color: #f60;
    cursor: pointer
}
.btn span{
    width: 52px;
    height: 52px;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -13px;
    margin-top: -33px;
}
.btn .triangle{
    width: 0;
    height: 0;
    border-top: 32px solid transparent;
    border-left: 40px solid #f60;
    border-bottom: 32px solid transparent;
    position: relative;
}
.btn .triangle:hover{
    width: 0;
    height: 0;
    border-top: 32px solid transparent;
    border-left: 40px solid #FFFFff;
    border-bottom: 32px solid transparent;
    position: relative;
}
.btn:hover {
    background-color: rgba(255,0,0,0.8);
    color: #fff;
    transition: 0.4s;
}

.text-desc {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100%;
    opacity: 0;
    width: 100%;
    /*padding: 20px;*/
}
.text-desc h3 {
    font-size: 20px;
    margin: 5px 0 10px;
}

.text-desc p {
    font-weight: 300;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 15px;
}
/*= Reset CSS End
================= *
/* effect-2 css */
.port-2 {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 4px solid rgba(0, 0, 0, 0.9);
    perspective: 800px;
}

.port-2 .text-desc {
    z-index: -1;
    transition: 0.6s;
}

.port-2 .image-box {
    transition: 0.4s;
}

.port-2:hover .image-box {
    transform: rotateX(80deg);
    transform-origin: center bottom 0;
    transition: 0.4s;
}

.port-2.effect-1:hover .text-desc {
    opacity: 1;
}

.port-2.effect-2 .text-desc {
    opacity: 1;
    top: -100%;
}

.port-2.effect-2:hover .text-desc {
    top: 0;
}

.port-2.effect-3 .text-desc {
    opacity: 1;
    top: auto;
    bottom: -100%;
}

.port-2.effect-3:hover .text-desc {
    bottom: 0;
}

/* effect-2 css end */


/*= Media Screen CSS
==================== */
@media only screen and (max-width: 1090px) {
    ul {
        width: 340px;
        margin: 0 auto;
    }

    li {
        width: 100%;
        margin: 20px 0;
    }

    .port-5.effect-1 {
        z-index: 19;
    }
}

@media only screen and (max-width: 360px) {
    ul {
        width: 300px;
    }

    .port-1 .text-desc,
    .port-1.effect-3:hover .text-desc,
    .port-3.effect-1 .text-desc,
    .port-3.effect-3 .text-desc,
    .port-4.effect-1 .text-desc,
    .port-4.effect-2 .text-desc,
    .port-4.effect-3 .text-desc, .port-8 .text-desc {
        padding: 20px;
    }

    .text-desc {
        padding: 7px;
    }

    .port-5.effect-1 .text-desc {
        padding: 13px 20px 20px 90px;
    }

    .port-5.effect-2 .text-desc {
        padding: 10px;
    }

    .port-5.effect-3 .text-desc {
        padding: 16px 90px 20px 20px;
    }

    .port-6.effect-1 .text-desc .btn,
    .port-6.effect-2 .text-desc .btn,
    .port-6.effect-3 .text-desc .btn,
    .port-7.effect-1 .text-desc .btn,
    .port-7.effect-2 .text-desc .btn,
    .port-7.effect-3 .text-desc .btn,
    .port-8.effect-3 .text-desc .btn {
        display: none;
    }

    .port-6.effect-2 .text-desc {
        padding: 20px 120px 20px 20px;
    }

    .port-6.effect-3 .text-desc {
        padding: 75px 20px 10px;
    }

    .port-7.effect-1 .text-desc {
        padding: 12px 10px;
    }

    .port-8.effect-3 .text-desc {
        padding: 28px 70px 20px;
    }
}

/*= Media Screen CSS End
======================== */

.vcontainer {
    width: 1000px;
    height: 600px;
    float: left;
}

.vstyle {
    width: 1000px;
    height: 600px;
    border: 4px solid rgba(0, 0, 0, 0.9);
    box-shadow:  0 0 30px #909891;
    display: block;
    margin: 0 auto;
}


















